// Overrides CoreUI & Bootstrap Variables

//
// Color system
//
$font-size-base: .99rem;
$white:                           #fff;
$gray-100:                        #f8f9fa;
$gray-200:                        #ebeef1;
$gray-300:                        #d1d4d7;
$gray-400:                        #869fac;
$gray-500:                        #678898;
$gray-600:                        #55595c;
$gray-700:                        #3e515b;
$gray-800:                        #2a2c36;
$gray-900:                        #151b1e;
$black:                           #000;

$blue:                            #20a8d8;
$indigo:                          #6610f2;
$purple:                          #6f42c1;
$pink:                            #e83e8c;
$red:                             #f86c6b;
$orange:                          #f8cb00;
$yellow:                          #ffc107;
$green:                           #4dbd74;
$teal:                            #20c997;
$cyan:                            #63c2de;


// Import default variables
@import "node_modules/@coreui/coreui-pro/scss/variables";

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions:              true;
$enable-rounded:                  true;

// Body
//
// Settings for the `<body>` element.

$body-bg:                        #0c0d0d;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:                  0.875rem;

// Breadcrumbs

$breadcrumb-padding-x:            2rem;
$breadcrumb-bg:                   #262626;
$breadcrumb-margin-bottom:        0rem;

// Cards

$card-cap-bg:                     $gray-100;

// Dropdowns

$dropdown-padding-y:              0;
$dropdown-divider-bg:             $gray-100;

// Buttons

$btn-secondary-border:            $gray-300;

// Progress bars

$progress-bg:                     $gray-100;

// Tables

$table-bg-accent:                 $gray-100;
$table-bg-hover:                  $gray-100;

// Forms

$input-group-addon-bg:            $gray-200;
$input-border-color:              $gray-300;
$input-group-addon-border-color:  $gray-300;

// CoreUI overrides

$enable-sidebar-nav-rounded:        true;

// Navbar
$navbar-bg: #262626;
$navbar-brand-width:                240px;
$navbar-brand-bg:                   theme-color("dark");
$navbar-brand-border: (
        bottom: (
                size:                       1px,
                style:                      solid,
                color:                      theme-color("light")
        )
);

$navbar-brand-minimized-bg:         $navbar-brand-bg;
$navbar-brand-minimized-border:     $navbar-brand-border;
$navbar-color: white;

// Sidebar

$sidebar-width:                     240px;
$sidebar-padding:                   0 0 0 $spacer;
$sidebar-color:                     $gray-800;
$sidebar-bg:                        #262626;
$mobile-sidebar-width:              240px;

// Sidebar Navigation

$sidebar-nav-color:                 $gray-800;
$sidebar-nav-title-padding-y:       .95rem;
$sidebar-nav-title-color:           $text-muted;
$sidebar-nav-link-color:            $gray-800;
$sidebar-nav-link-icon-color:       $gray-800;

$sidebar-nav-link-hover-bg:         theme-color("primary");

$sidebar-nav-link-active-bg:        theme-color("dark");
$sidebar-nav-link-active-icon-color:#fff !important;

$sidebar-nav-dropdown-color:        #fff;
$sidebar-nav-dropdown-bg:           lighten(theme-color("primary"), 10%);
$sidebar-nav-dropdown-icon-color:   #fff !important;
$sidebar-nav-dropdown-borders:      0;

// Breadcrumb

$breadcrumb-margin:                 0;
$breadcrumb-borders:                0;
$breadcrumb-menu-color: white;
// Footer

$footer-bg:                         #1a1a1a;
$footer-color:                      white;
$footer-borders:                    0;

$aside-menu-bg:  #d1e0e0;
$aside-menu-color:  #d1e0e0;
$aside-menu-width:   450px;
