.app-header{
  background-color: #f0f0f5;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  font-weight: bold;
  .navbar-brand{
    font-size: 30px;
  }
}

.app-body{
  background-color: #efefff;
  font-family: 'Pacifico';
  .sidebar{
    background-color: aliceblue;
  }
}

.app-footer{
  background-color: #d1e0e0;
}

