@import "variables";
// Import styles with default layout.
@import "node_modules/@coreui/coreui-pro/scss/coreui";
@import "custom";

.app-header{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  .navbar-brand{
    font-size: 30px;
  }
}

.app-body{
  font-family: 'Pacifico';
  color:white;
}

// footer is working
.app-footer{

}

.breadcrumb-item{
  font-size:22px;
}


